// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin margin($val, $side: null) {
  @if $side {
    .margin-#{$side}-#{$val} {
      margin-#{$side}: $val+px !important;
    }
  } @else {
    .margin-#{$val} {
      margin: $val+px !important;
    }
  }
}

@mixin padding($val, $side: null) {
  @if $side {
    .padding-#{$side}-#{$val} {
      padding-#{$side}: $val+px !important;
    }
  } @else {
    .padding-#{$val} {
      padding: $val+px !important;
    }
  }
}

@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@mixin no-box-shadow() {
  $none: none;
  -webkit-box-shadow: $none !important;
  -moz-box-shadow: $none !important;
  box-shadow: $none !important;
}

@mixin border-radius($radius: 0px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}