html{
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	height: 100%; 
	margin: 0px; 
	padding: 20px;
	background-color: #eee;
	color: #3a3a3a;
	position: relative;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

img {
	max-width: 100%;
	max-height: 100%;
}

table {
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a {
	color: $blue;
	text-decoration: underline;

	&:hover {
		color: $dark-blue;
	}
}

i.icon {
	margin-right: 5px;
}

.muted {
	color: $grey;
}

.center {
	text-align: center;

	.avatar {
		margin: 0 auto;
	}
}

.big {
	font-size: 1.2em;
}

.strong {
	font-weight: 600;
}

#main-content {
	padding-top: 90px;
	padding-bottom: 53px;
}

.content-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	text-align: center;
	margin-bottom: 50px;
  padding-top: 15px;
  border-bottom: none;
}

.loading {
	text-align: center;
	margin: 50px 0;
	display: none;

	&.loading {
		display: block;
	}

	&:before {
		content: "\f45a";
		font-size: 4em;
		display: inline-block;
	    font-family: "Ionicons";
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    text-rendering: auto;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscal;
	    -webkit-animation:spin 1s linear infinite;
    	-moz-animation:spin 1s linear infinite;
    	animation:spin 1s linear infinite;
    	opacity: .3;
	}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.bg-primary {
	background-color: $product-primary; }

.bg-secondary {
	background-color: $product-secondary; }

.text-primary {
	color: $product-primary; }

.text-secondary {
	color: $product-secondary; }

.normal { opacity: 1; } .light { opacity: .7; } .extra-light { opacity: .5; } .ultra-light { opacity: .3; }

@include margin(20, "bottom");