.error{
	//;
	width: 80%;
	margin: 0 auto;
	.error-msg{
		color: #ff7070;
		.alert {
			font-weight: 600;
			padding: 0;
		}
	}
	.error-btn{
		text-align: center;
		margin-top: 30px;
		input{
			border:none;
		}
	}

}
