.regular-input {
	border: 0;
	border-bottom: 1px solid #d2d2d2;
	height: 38px;
    padding: 7px 0;
}	

.input-group.date,
.input-group.time {
	.input-group-addon {
		font-size: 2em;
    	opacity: .3;
	}
}

.vt-sugestions {
    display: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 71px;
    font-size: .8em;

    .vt-sugestions-list {
        padding: 15px 30px;
        max-height: 300px;
        overflow: auto;

        .vt-sugestion {
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 8px;
            margin-bottom: 8px;

            .vt-sugestion-field {
                display: inline-block;
                margin-right: 10px;
                position: relative;

                .vt-avatar {
                    position: absolute;
                    top: -18px;
                    max-width: initial;
                }

                &.client-name {
                    padding-left: 30px;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                border: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .add-entry {
        text-align: center;
        padding: 12px;
        background-color: #f5f5f5;
        color: $grey;

        &:hover {
            cursor: pointer;
            color: #333;
        }
    }
}