.panel {
	border-radius: 5px;
	background-color: #fff;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);

	.panel-subtitle {
		color: $grey;
		text-align: center;
		margin-bottom: 15px;
	}

	&.half-size {
		max-width: 550px;
	}

	&.big-size {
		/*max-width: 800px;*/
	}

	&.tabbed {
		padding: 0;

		.nav-tabs {
			background-color: #fff;
			padding: 0 25px;

			> li {
				&.active a {
					color: #009688 !important;
					background-color: #eee !important;
				}

				> a {
					color: #3a3a3a !important;
					font-weight: 300;
					text-decoration: none;
					padding: 24px;
					border-radius: 0 !important;
				}
			}
		}

		.tab-content {
			padding: 50px;
		}
	}

	.separator {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 40px;
		margin-bottom: 40px;
	}
}