$light-grey: #ddd;
$grey: #7f8c90;
$light-blue: #5bc0de;
$dark-light-blue: #31b0d5;
$blue: #2198e8;
$dark-blue: #1684cf;
$green: #3adb76;
$dark-green: #2ec566;
$red: #e94a35;
$dark-red: #d13722;
$orange: #f0ad4e;
$dark-orange: #ec971f;
$product-primary: rgb(54, 63, 72);
$product-secondary: #3adb76;