/* Colour variables */
$main-color: #8DB911;
$light-color: #8DB911;
$dark-color: #222A41;

$dark-grey: #2E2E2E;
$light-grey: #ddd;
$grey: #444F5C;
$white: #fff;

$mail-body: #f1f1f1;

/* Font variables */
$main-font: 300 14px/1.2em 'Droid Sans', 'Helvetica Neue', sans-serif;
