/* Colour variables */
$main-color: #8DB911;
$light-color: #8DB911;
$dark-color: #4a4a4a;

$dark-grey: #2E2E2E;
$light-grey: #dcdcdc;
$grey: #444F5C;
$white: #fefeff;

$mail-body: #f1f1f1;

/* Font variables */
$main-font: 300 14px/1.2em 'Droid Sans', 'Helvetica Neue', sans-serif;